/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding-block-start:  calc(var(--gap) * 10);
  color: var(--text-color, #000000);
  font-family: var(--font-family);
  background-color: var(--background-color, #ffffff);
  background-image: var(--background-image);
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--normal, 400);
}

.header {
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: calc(var(--gap) * 2);
  font-family: var(--font-family-accent);
  line-height: normal;
  text-transform: uppercase;
}

.header_title {
  display: grid;
  gap:  calc(var(--gap) * 2);
  margin-block-start: var(--margin-block);
  font-size: var(--font-size-header);
  text-align: center;
}

.html {
  margin-block-end: 100px;
}

.header_text {
  margin-block-end: var(--margin-block);
  font-size: var(--font-size-header-text);
}

.card {
  margin-inline: auto;
  border: 2px solid var(--text-color, #000000);
  background-color: var(--background-color, #ffffff);
  max-inline-size: calc(var(--gap) * 70);
}

.main {
  display: grid;
  justify-items: center;
  gap: calc(var(--gap) * 5.7);
  padding-block-end:  calc(var(--gap) * 10 + 5px);
}

.card_list {
  display: grid;
  gap: calc(var(--gap) * 5);
}

.card_header {
  border-block-end: 2px solid var(--text-color, #000000);
  padding: calc(var(--gap) - 6px)  var(--gap);
}

.card_title {
  font-size:  calc(var(--gap) + 8px);
  line-height:  calc(var(--gap) * 2.178);
  font-variation-settings: var(--bold, 700);
}

.card_label {
  position: relative;
  overflow: hidden;
}

.label_text {
  position: absolute;
  top: calc(var(--gap) * 2.7);
  right: calc(var(--gap) * 2.3);
  z-index: 1;
  opacity: 0.5;
  font-family: var(--font-family-accent);
  font-size: 14px;
  line-height: normal;
  text-shadow: 0 0 1px var(--background-color, #ffffff);
  mix-blend-mode: hard-light;
}

.card_image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.card_content {
  display: grid;
  gap: calc(var(--gap) * 2.7);
  border-block-start: 2px solid var(--text-color, #000000);
  padding: calc(var(--gap) * 2.6)  calc(var(--gap) * 2.5) 0  calc(var(--gap) * 2.5);
  font-size: calc(var(--gap) + 8px);
  line-height: calc(var(--gap) * 2.1);
}

.card_footer {
  display: flex;
  justify-content: end;
  align-items: stretch;
  gap:  calc(var(--gap) - 6px);
  padding: calc(var(--gap) * 2.5) calc(var(--gap) * 2.5)  calc(var(--gap) * 2.5 - 2px) calc(var(--gap) * 2.5);
}

.card__icon-button {
  display: grid;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border 0.3s ease-in-out;
  cursor: pointer;
  appearance: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--text-color, #000000);
}

.like-icon {
  block-size: calc(var(--gap) * 4 - 4px);
  inline-size: calc(var(--gap) * 4 - 1px);
}

.button {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--text-color, #000000);
  padding:  var(--gap)  calc(var(--gap) * 3 + 4px);
  overflow: hidden;
  font-family: var(--font-family-accent);
  font-size:  calc(var(--gap) + 4px);
  text-align: center;
  text-transform: inherit;
  background-color: var(--background-color, #ffffff);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color, #000000);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--text-color, #000000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(var(--gap) - 2px);
  margin-top:  calc(var(--gap) - 17px);
  padding: calc(var(--gap) * 1.5) calc(var(--gap) * 2);
}

.save-icon {
  width: 21px;
  height: 21px;
}

.button__text,
.save-icon {
  color: #ffffff;
  mix-blend-mode: difference;
}

.modal {
  border: 2px solid var(--text-color, #000000);
  padding: calc(var(--gap) * 2.5) calc(var(--gap) * 3);
  font-family: var(--font-family-accent);
  font-size: calc(var(--gap) + 4px);
  line-height: calc(var(--gap) * 2.1);
  text-transform: uppercase;
  max-inline-size: calc(var(--gap) * 35 + 5px);
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: calc(var(--gap) * 3);
}

.modal::backdrop {
  opacity: 0.75;
  background-color: var(--text-color, #000000);
}

.modal_content {
  display: flex;
  justify-items: center;
  gap: calc(var(--gap) + 6px);
}

.modal_save-icon {
  flex-shrink: 0;
  margin-block: calc(var(--gap) * 1.2);
  inline-size: calc(var(--gap) * 3.9);
  block-size: calc(var(--gap) * 3.9);
}

.modal_button {
  inline-size: 100%;
}

.gray-filter {
  filter: saturate(20%) brightness(130%);
}

.bright-filter {
  filter: saturate(350%);
}

.purple_filter {
  filter: hue-rotate(20deg);
}

.inversion_filter {
  filter: invert(100%) opacity(80%);
}

.monochrome_filter {
  filter: sepia(90%) contrast(95%);
}

.blurry_filter {
  filter: blur(20px);
}

.strange_filter {
  filter: hue-rotate(100deg) blur(2px) contrast(60%);
}

@media (width <= 375px) {
  .card_content {
    padding: calc(var(--gap) * 2.5)  calc(var(--gap) * 2.5) 0 calc(var(--gap) * 2.5);
  }

  .card {
    margin-inline: auto;
    border: 2px solid var(--text-color, #000000);
    background-color: var(--background-color, #ffffff);
    max-inline-size: calc(var(--gap) * 69 + 6px);
  }

  .save {
    display: flex;
    flex-direction: column;
    padding: calc(var(--gap) * 1.5) calc(var(--gap) * 2);
    
  }

  .modal {
    padding: calc(var(--gap) * 3) calc(var(--gap) * 4);
    max-inline-size: calc(var(--gap) * 34);
  }

  .save-icon {
    inline-size: calc(var(--gap) * 3 - 2px);
    block-size: calc(var(--gap) * 3 - 2px);
  }
}

@supports (-webkit-text-stroke: 1px var(--background-color, #ffffff)) or
  (text-stroke: 1px var(--background-color, #ffffff)) {
  .label_text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color, #ffffff);
    text-stroke: 1px var(--background-color, #ffffff);
  }
}